@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster_1.1_-webfont.eot');
	src: local('☺'), url('../fonts/Lobster_1.1_-webfont.woff') format('woff'), url('../fonts/Lobster_1.1_-webfont.ttf') format('truetype'), url('../fonts/Lobster_1.1_-webfont.svg#webfont30G9S4nm') format('svg');
	font-weight: normal;
	font-style: normal; }
    
@font-face {
	font-family: 'RalewayThin';
	src: url('../fonts/raleway_thin-webfont.eot');
	src: local('☺'), url('../fonts/raleway_thin-webfont.woff') format('woff'), url('../fonts/raleway_thin-webfont.ttf') format('truetype'), url('../fonts/raleway_thin-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal; }

@font-face 
{
    font-family: 'Sansus';
    src: url('../fonts/sansus-webissimo-regular-webfont.eot');
    src: url('../fonts/sansus-webissimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansus-webissimo-regular-webfont.woff') format('woff'),
         url('../fonts/sansus-webissimo-regular-webfont.ttf') format('truetype'),
         url('../fonts/sansus-webissimo-regular-webfont.svg#SansusWebissimoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Collator';
    src: url('../fonts/collator-webfont.eot');
    src: url('../fonts/collator-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/collator-webfont.woff') format('woff'),
         url('../fonts/collator-webfont.ttf') format('truetype'),
         url('../fonts/collator-webfont.svg#CollatorRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: 'GothamHTFMedium';
	src: url('../fonts/gothamhtf-medium-webfont.eot');
	src: url('../fonts/gothamhtf-medium-webfont.eot?iefix') format('eot'),
	     url('../fonts/gothamhtf-medium-webfont.woff') format('woff'),
		 url('../fonts/gothamhtf-medium-webfont.ttf') format('truetype'),
		 url('../fonts/gothamhtf-medium-webfont.svg#webfont2ghG5I8Y') format('svg');
	font-weight:normal;font-style: normal
}

@font-face
{
	font-family: 'GothamHTFBold';
	src: url('../fonts/gothamhtf-bold-webfont.eot');
	src: url('../fonts/gothamhtf-bold-webfont.eot?iefix') format('eot'),
	     url('../fonts/gothamhtf-bold-webfont.woff') format('woff'),
		 url('../fonts/gothamhtf-bold-webfont.ttf') format('truetype'),
		 url('../fonts/gothamhtf-bold-webfont.svg#webfont0xBiO3b4') format('svg');
	font-weight: normal;
	font-style: normal
}

@font-face{
	font-family: 'GothamHTFBlack';
	src: url('../fonts/gothamhtf-black-webfont.eot');
	src: url('../fonts/gothamhtf-black-webfont.eot?iefix') format('eot'),
	     url('../fonts/gothamhtf-black-webfont.woff') format('woff'),url('../fonts/gothamhtf-black-webfont.ttf') format('truetype'),
	     url('../fonts/gothamhtf-black-webfont.svg#webfont0xBiO3b4') format('svg');
	font-weight: normal;
	font-style: normal
}

@import url(http://fonts.googleapis.com/css?family=Ruda:400,900);

/*
 * Body
 * ====
 */

/* For the sticky footer */
html 
{
	position: relative;
	min-height: 100%;

	/* For IE and Chrome,
	   see http://stackoverflow.com/questions/20099844/chrome-not-respecting-rem-font-size-on-body-tag*/
	font-size: 100%;
}

body 
{
	padding-top: 80px;
  	/* Must match footer height */
	margin-bottom: 240px;

	background-color: #f6f6f4; /* #faf4f1; */

	/* To ensure (r)ems are computed consistently everywhere */
	font-size: 1em;
}

@media (max-width: 992px)
{
	body
	{
  		/* Must match footer height */
		margin-bottom: 200px;
	}
}

/* Stretchable container that extends horizontally all the way to the page border */
.container-full 
{
	padding: 0;
	margin: 0;
}

/*
 * Grid Adjustments
 * ================
 */
 
@media (max-width: 768px) 
{
	[class*="row"]
	{
		/* Don't use column padding to do that (e.g. xs-12 would overflow) */
		margin-left: 40px;
		margin-right: 40px;
	}

	[class*="col-"]
	{
		/* Could be better to set the left and right padding just for the first and last column */
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 30px;
	}
	
	/* If no more content follows in the same section, remove the margin bottom 
	   to ensure we got the same amount empty space:

	   - between the last list column and the section end
	   - between a small tag line and the section end

	   For small sizes, the small tag line shows a separator line at its bottom 
	   that visually splits and reduces the space below it.
	   
	   To do so, we mark the last (visible) list column with 'last-content-col'. */
	[class*="last-content-col"]
	{
		margin-bottom: 0;
	}
}

/*
 * Navigation Bar 
 * ==============
 */

.navbar
{
	background-color: #FFFFFF; /* #383428; #f6f6f4; */
	opacity: 0.88;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

.navbar-brand
{
	font-family: 'Lobster';
	font-weight: 200;
	font-size: 1.5em;
}

/**
 * Headers and Paragraphs
 * ======================
 */

.container h1
{
	margin-top: 0px;
	margin-bottom: 30px;

	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 2em;
}

.container-full h1
{
	text-transform:uppercase;
	color: #F8F8FF;
}

h2
{
	margin-top: 0;

	text-align: left;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1.375em;
	color: #585858;
}

@media (max-width: 992px)
{
	.container h1
	{
		font-size: 1.7em;
	}
	
	h2
	{
		font-size: 1.1em;
	}
}

.container p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
}

/*
 * Tag Lines
 * =========
 */

.tagline
{
	padding-bottom: 80px;

	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.25em;
}

.small-tagline
{
	margin-top: 40px;
	padding-bottom: 30px;

	text-align: center;
	line-height: 230%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 0.875em;
}

@media (max-width: 768px) 
{
	.tagline
	{
		margin-left: 15px;
		margin-right: 15px;
		/*padding-bottom: 70px;*/

		font-size: 1em;
	}
	
	.small-tagline
	{
		margin-left: 40px;
		margin-right: 40px;
		margin-top: 0px;
		padding-top: 15px;
		padding-bottom: 15px;
		
		border-top: 1px solid lightgray;
		border-bottom: 1px dotted lightgray;

		text-align: justify;
		font-size: 0.813em;
	}
}

.small-tagline p:not(:first-child)
{
	margin-top: 20px;
}

.highlighted-text
{
	text-style: bold;
	color: #ef4832;
}

/*
 * Lists and Annotations
 * =====================
 */

#content ul
{
	margin: 0;
	padding: 0;

	list-style-type: none;
}

#content li
{
	margin-top: .5em;
	margin-bottom: .5em;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.813em;
}

.annotation
{
	text-align: left;
}

.annotation p
{
	color: #222;

	text-align: left;
	line-height: 200%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.813em;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}

/*
 * Code Snippets
 * =============
 */

.codewrapper
{

}

.code
{
	padding: 5px;

	background-color: rgba(255, 204, 2, 0.7);
	opacity: 0.85;

	white-space: nowrap;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: white;
}

/*
 * Top Area
 * ========
 */
 
.jumbotron
{
	/* Override Bootstrap margin bottom 30px */
	margin-bottom: 0;
	background-color: 0;
}

#splash
{
	background-color: rgba(255, 204, 2, 0.44);
}

#splash h1
{
	text-align: center;
	font-family: 'Raleway Dots', sans-serif;
	font-weight: 100;
	font-size: 4em;
}

@media (max-width: 768px) 
{
	#splash h1
	{
		font-size: 2.8em;
	}
}

#splashline
{
	padding-top: 30px;
	padding-bottom: 30px;

	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #585858;
}

@media (max-width: 992px) 
{
	/* Override the margin bottom set on .row in Grid section (for the same media max-wdith) */
	#introduction .col-md-6
	{
		margin-bottom: 0;
	}

	#splashline
	{
		/*padding-bottom: 0;*/

		font-size: 0.9em;
	}
}


#splashline em
{
	background-color: #AEE4FF;
	opacity: 0.8;

	font-style: normal;
	color: #111;
}

#introduction
{
	border-bottom: dotted 1px lightgray;
}

/*
 * User Experience
 * ===============
 */

#userexperience
{
	padding-top: 70px;
	padding-bottom: 80px;
}

#userexperience h2
{
	color: #585858;
}

#userexperience .inner-row
{
	/*margin-bottom: 20px;*/
}

#userexperience ul
{
	color: #686868;
}

/*
 * Features
 * ========
 */

#features h2
{
	color: white;
}

#features ul
{
 	color: #686868;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.06);
}

#features 
{
	margin: 0 auto;
	padding: 0;
	width: 100%;

	background-color: #6cf;
}

#features .container
{
	padding-top: 50px;
	padding-bottom: 80px;
}

/*
 * Framework
 * =========
 */

#overall-design
{
	padding-top: 50px;
	padding-bottom: 80px;
}

@media (min-width: 768px)
{
	#overall-design .small-tagline
	{
		padding-bottom: 0;
	}
}

/*
 * Download
 * ========
 */

#download
{
	margin: 0 auto;
	padding: 0;
	width: 100%;

	background-color: #ef4832;
	background-color: #F05C44; /* #F07057; #E74C3C; */
	background-color: #ff9933;
	
	background-color: #F56432;
	background-color: #F35C32;
	background-color: #F46032;

	background-color: #FF7A4C;

	/*background: radial-gradient(circle at center,#E4542D,#8B190C);
	background: radial-gradient(circle at center,#FF7A4C,#ef4832);*/
}

#download .container
{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 50px;
	padding-bottom: 80px;
}

#download h2
{
	color: #333;
}

#download .row div:nth-child(2)
{
	text-align: center;
}

#download .tagline
{
	color: #F8F8FF;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.07);
}

#download .small-tagline
{
	text-shadow: 0px 3px 4px rgba(5, 5, 5, 0.07);
}

@media (min-width: 768px)
{
	#download .small-tagline
	{
		padding-bottom: 0;
	}
}

@media (max-width: 768px)
{
	#download .small-tagline
	{
		border-top: 1px solid white;
	}
}

.download-button
{
	height: 160px;
	width: 160px;
	
	font-weight: 100;
	font-family: 'Open Sans';
}

.download-button:first-child
{
	margin-right: 30px;
}

.download-icon
{
	height: 90px;
	width: 90px;
	margin: 10px 20px 10px 20px;

	text-align: center;
	/* Not expressed in 'em', it is a text-based icon inside a button (not resizable without a media query) */
	font-size: 90px;
}

.github-icon
{
	height: 90px;
	width: 90px;
	margin: 10px 20px 10px 20px;

	background: url('../images/GitHub-Mark-Light-120px-plus.png') center no-repeat;
	background-size: 90px;
}

@media (max-width: 992px)
{
	.download-button
	{
		height: 140px;
		width: 140px;
		
		font-size: 16px; /* Bootstrap set .btn-lg fontsize to 18px */
		font-weight: 100;
		font-family: 'Open Sans';
	}

	.download-icon
	{
		height: 70px;
		width: 70px;
		margin: 10px 20px 10px 20px;

		/* Not expressed in 'em', it is a text-based icon inside a button (not resizable without a media query) */
		font-size: 70px;
	}

	.github-icon
	{
		height: 70px;
		width: 70px;
		margin: 10px 20px 10px 20px;

		background-size: 70px;
	}
}

@media (max-width: 768px)
{
	.download-button
	{
		height: 120px;
		width: 120px;
		
		font-size: 13px; /* Bootstrap set .btn-lg fontsize to 18px */
		font-weight: 100;
		font-family: 'Open Sans';
	}

	.download-icon
	{
		height: 60px;
		width: 60px;
		margin: 10px 15px 10px 15px;

		/* Not expressed in 'em', it is a text-based icon inside a button (not resizable without a media query) */
		font-size: 60px;
	}

	.github-icon
	{
		height: 60px;
		width: 60px;
		margin: 10px 15px 10px 15px;

		background-size: 60px;
	}
}

@media (max-width: 400px) 
{
	.download-button 
	{
		height: 90px;
		width: 90px;
		padding-left: 8px;
		padding-right: 8px;

		font-size: 11px; /* Bootstrap set .btn-lg fontsize to 18px */
		font-weight: 100;
		font-family: 'Open Sans';
	}

	.download-button:first-child 
	{
		margin-right: 15px;
	}

	.download-icon 
	{
		/* We make the download icon slightly smaller to correct the visual 
		   impression it gives of being bigger than the Github icon */
		height: 48px;
		width: 48px;
		margin: 2px 13px 6px 13px;
		
		/* Not expressed in 'em', it is a text-based icon inside a button (not resizable without a media query) */
		font-size: 48px;
	}

	.github-icon 
	{
		height: 50px;
		width: 50px;
		margin: 2px 12px 4px 12px;

		background-size: 50px auto;
	}
}

/*
 * Footer
 * ======
 */

/* See sticky footer with nav bar in Bootstrap examples */
#footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Must match body margin bottom */
	height: 240px; /* ~160 (.container) + 80 (.full-container) */
	padding: 0;

	background-color: #F6F6F4;
	
	text-align: center;
}


/* Main container */
#footer .container
{
	padding-top: 80px;
	/* For the splash line inside, the bottom padding is 30px, for the small 
	   print, the bottom margin is 10px, this stretches the last column 
	   vertically in the row, and translates as a 40px between main and pattern 
	   containers. */
	padding-bottom: 0;
}

/* Pattern container */
#footer .container-full
{
	height: 80px;
	vertical-align: center;
	border-top: 1px dotted lightgray;

	background-image: url('../images/struckaxiom.png');
}

@media (max-width: 992px) 
{
	#footer
	{
  		/* Must match body margin bottom */
		height: 200px;
	}
	
	#footer .container
	{
		padding-top: 40px;
	}

	#footer h2
	{
		text-align: center;
	}
}

#footer #splashline
{
	padding-top: 0;
}

/* Copyright notice */
#footer small
{
	/* Make it look like a paragraph element */
	display: block;
	margin-bottom: 10px;

	opacity: 0.7;

	letter-spacing: 0.05em;
	font-size: 0.875em;
	font-family: 'Raleway', sans-serif;
}
