.note-content h2
{
	margin-top: 50px;
	margin-bottom: 20px;
}

.note-content h3
{
	margin-top: 25px;
	margin-bottom: 15px;
}

.figure img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.figure
{
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

#content > .container > *:last-child
{
	margin-bottom: 0;
}

#footer
{
	/* Based on #video bottom border */
	border-top: dotted 1px lightgray;
}
