<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>PlugInExample</string>
	<key>CFBundleIdentifier</key>
	<string>org.etoile-project.pluginexample</string>
	<key>NSPrefPaneIconFile</key>
	<string>Bundle-Plugin</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Plug-In Example</string>
	<key>Authors</key>
	<array>
		<string>Quentin Mathé &lt;quentin.mathe@gmail.com&gt;</string>
	</array>
	<key>Copyright</key>
	<string>Copyright (C) 2011 Quentin Mathé</string>
	<key>CopyrightDescription</key>
	<string>Released under the Modified BSD License</string>
	<key>FullVersionID</key>
	<string>0.1</string>
	<key>URL</key>
	<string></string>
</dict>
</plist>
